@using Organization.BLL
@using Organization.ENTITY


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bilge Adam Organization</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css">
    <link href="~/Content/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link href="~/Content/styles/main_styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link href="~/Content/styles/bootstrap4/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles/style.css" rel="stylesheet" />
</head>
<body>

    @{
        Users user = null;
        if (Session["Login"] != null)
        {
            user = Session["Login"] as Users;
        }
    }
    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="top_bar_background" style="background-image:url(~/Content/images/top_bar.jpg)"></div>
                <div class="top_bar_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                    <ul class="top_bar_contact_list">
                                        <li>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <div>Email: infodeercreative@gmail.com</div>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <div>Call Us: +1234 800 8080</div>
                                        </li>
                                    </ul>
                                    <div class="top_bar_social ml-auto">
                                        <ul class="social_list">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Content -->
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo_container">
                                    <a href="#">
                                        <div class="logo"><img src="~/Content/images/logo.png" alt=""></div>

                                    </a>
                                </div>
                                <nav class="main_nav_contaner ml-auto">
                                    <ul class="main_nav">
                                        <li class="active"><a href="/Home/Index">home</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="sermons.html">sermons</a></li>

                                        @if (Session["Login"] == null)
                                        {
                                            <li><a href="/Home/Register/" class="btn btn-danger">Sign Up</a></li>
                                            <li><a href="/Home/Login/" class="btn btn-danger">Sign In</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="/Organization/Create/">Create Organization</a></li>
                                            <li><a>@user.FirstName</a></li>
                                            <li class="nav-item"><a href="/Home/Logout/">Log Out</a></li>
                                        }

                                    </ul>

                                </nav>

                                <!-- Hamburger -->

                                <div class="hamburger ml-auto">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div>
            @RenderBody()
        </div>


        <!-- Footer -->
        <footer class="footer">
            <div class="footer_background parallax-window" data-parallax="scroll" data-image-src="'../images/footer.jpg'" data-speed="0.8"></div>
            <div class="container">
                <div class="row">

                    <!-- Footer - Contact -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_column footer_contact_column">
                            <div class="footer_logo_container">
                                <a href="#">
                                    <div class="footer_logo"><img src="~/Content/images/logo_2.png" alt=""></div>
                                    <div class="footer_logo_text">mimosan</div>
                                </a>
                            </div>
                            <div class="footer_contact">
                                <ul>
                                    <li><div><i class="fa fa-map-marker" aria-hidden="true"></i></div><span>1195 Lobortis Rd, New Orleans, New Hampshire</span></li>
                                    <li><div><i class="fa fa-phone" aria-hidden="true"></i></div><span>+1 234 800 8080</span></li>
                                    <li><div><i class="fa fa-envelope" aria-hidden="true"></i></div><span>info.deercreative@gmail.com</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer - Links -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_column footer_links">
                            <div class="footer_title">useful links</div>
                            <ul class="footer_links_list">
                                <li><a href="about.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About us</a></li>
                                <li><a href="contact.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Donation</a></li>
                                <li><a href="blog.html"><i class="fa fa-angle-double-right"></i> Blog</a></li>
                                <li><a href="sermon.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sermons</a></li>
                                <li><a href="events.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Events</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Service</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Media</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer - Subscribe -->
                    <div class="col-lg-4 footer_col">
                        <div class="footer_column footer_subscribe">
                            <div class="footer_title">subscribe</div>
                            <div class="footer_text">Join our weekly email newsletter to receive news, events and other announcements about what is going on at our church.</div>
                            <div class="footer_form_container">
                                <form action="#" class="footer_form">
                                    <div>
                                        <input type="email" class="subscribe_input" placeholder="Enter your email" required="required">
                                        <button class="subscribe_button trans_200" type="submit">subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row copyright_row">
                    <div class="col">
                        <div class="copyright_container d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                            <div class="copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                            <div class="footer_social ml-lg-auto">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/plugins/easing/easing.js"></script>
    <script src="~/Content/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/jquery/jquery.min.js"></script>
</body>
</html>