@using Organization.BLL
@using Organization.ENTITY


@model Organization.UI.Models.OrganizationModel

@{
    ViewBag.Title = "Reply";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!-- Leave your comment -->
@using (Html.BeginForm("Reply", "Message", FormMethod.Post))
{
    <!-- Modal -->
    <div class="modal fade" id="MessagesModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                @Html.HiddenFor(x => x.Organizations.OrganizationID)
                <div class="modal-body">
                    <div class="row leave_comment_row">
                        <div class="col">
                            <div class="leave_comment">
                                <div class="leave_comment_title">Send Messages</div>
                                <div class="leave_comment_form_container">
                                    <div class="row">
                                        <div class="col-12">
                                            @Html.TextBoxFor(model => model.Message.Subject, new { @class = "form_input", placeholder = "Subject", required = "required" })
                                        </div>
                                        <div class="col-12">
                                            @Html.TextAreaFor(model => model.Message.Body, new { @class = "form_text", placeholder = "Your Message", required = "required" })
                                            <button type="submit" class="form_submit_button">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
