
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- Home -->

<div class="home">
    <div class="home_background"></div>
    <div class="home_content text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_title">Organizasyonlarınızı Kolayca Oluşturun.</div>
                    <div class="home_text">Bilge Adam Bilişim Grubunda yapılan organizasyonları kaçırmamak için acele etmelisiniz.</div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Event -->

<div class="event">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="event_container d-flex flex-lg-row flex-column align-items-center justify-content-start">
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">18</div>
                        <div class="event_month">mar</div>
                    </div>
                    <div class="event_content">
                        <div class="event_title">UPCOMING EVENT: <a href="#">exploring the Christian faith</a></div>
                        <ul class="event_row">
                            <li>
                                <div class="event_icon"><img src="~/Content/images/calendar.png" alt=""></div>
                                <span>08:00 AM - 11:00 AM</span>
                            </li>
                            <li>
                                <div class="event_icon"><img src="~/Content/images/location.png" alt=""></div>
                                <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
                            </li>
                        </ul>
                    </div>
                    <div class="event_timer_container ml-lg-auto">
                        <ul class="event_timer">
                            <li><div id="day" class="event_num">00</div><div class="event_ss">day</div></li>
                            <li><div id="hour" class="event_num">00</div><div class="event_ss">hrs</div></li>
                            <li><div id="minute" class="event_num">00</div><div class="event_ss">min</div></li>
                            <li><div id="second" class="event_num">00</div><div class="event_ss">sec</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title">welcome to our church</div>
                    <div class="section_subtitle">It's the start of an amazing journey of faith</div>
                </div>
            </div>
        </div>
        <div class="row about_row">
            <div class="col-lg-6">
                <div class="about_image"><img src="~/Content/images/about.jpg" alt=""></div>
            </div>
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="about_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gestas ant eget risus varius, euismod tellus suscipit. Aenean condimentum cond mentum ulla, vitae imperd urna varius volutpa. Mauris lobotis comodo mollis nolle. In vetib  velit ifermentum empor euismod. Cras gravida maximus ligula ac posuere. Maecenas auctor interdum varius sollicitudin orci. Phasellus quis volutpat ex, id maximus magna. Sed elit posuere augue, tincid unt non ipsum sit amet, maximus sagittis lectus. Quisque tincidunt, antevis pharetra sodales, non ante magna tempus nulla, sed molestie orci magna quis tellus. Nulla facilisi sit amet libero sed condimentum.</p>
                    </div>
                    <div class="button about_button"><a href="#">read story</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sermons -->

<div class="sermons">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title">sermons today</div>
                    <div class="section_subtitle">Our lives in praising God</div>
                </div>
            </div>
        </div>
        <div class="row sermons_row">
            <div class="col-lg-4 sermon_col">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/sermon_1.jpg" alt="">
                    <div class="card-body text-center">
                        <div class="card-title sermon_title"><a href="sermon.html">Sermons on Prayer:  Running Well, FinIshing Strong</a></div>
                        <div class="card-text sermon_info_container">
                            <div class="sermon_info">
                                <div class="sermon_info_title">Pastor: </div>
                                <ul class="sermon_info_list">
                                    <li><a href="#">Josh Brighton</a></li>
                                </ul>
                            </div>
                            <div class="sermon_info">
                                <div class="sermon_info_title">Categories: </div>
                                <ul class="sermon_info_list">
                                    <li><a href="#">God, </a></li>
                                    <li><a href="#">Prayer</a></li>
                                </ul>
                            </div>
                            <div class="sermon_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 sermon_col">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/sermon_2.jpg" alt="">
                    <div class="card-body text-center">
                        <div class="card-title sermon_title"><a href="sermon.html">Sermons on Faith: A Life Worth Living, A new purpose</a></div>
                        <div class="card-text sermon_info_container">
                            <div class="sermon_info">
                                <div class="sermon_info_title">Pastor: </div>
                                <ul class="sermon_info_list">
                                    <li><a href="#">Julia Amber</a></li>
                                </ul>
                            </div>
                            <div class="sermon_info">
                                <div class="sermon_info_title">Categories: </div>
                                <ul class="sermon_info_list">
                                    <li><a href="#">God, </a></li>
                                    <li><a href="#">Faith</a></li>
                                </ul>
                            </div>
                            <div class="sermon_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 sermon_col">
                <div class="card">
                    <img class="card-img-top" src="~/Content/images/sermon_3.jpg" alt="">
                    <div class="card-body text-center">
                        <div class="card-title sermon_title"><a href="sermon.html">Sermons for Communion Services: Come to the Table</a></div>
                        <div class="card-text sermon_info_container">
                            <div class="sermon_info">
                                <div class="sermon_info_title">Pastor: </div>
                                <ul class="sermon_info_list">
                                    <li><a href="#">Ashley Young</a></li>
                                </ul>
                            </div>
                            <div class="sermon_info">
                                <div class="sermon_info_title">Categories: </div>
                                <ul class="sermon_info_list">
                                    <li><a href="#">God, </a></li>
                                    <li><a href="#">Communion</a></li>
                                </ul>
                            </div>
                            <div class="sermon_links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Events -->

<div class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title">upcoming events</div>
                    <div class="section_subtitle">Experience God's Presence</div>
                </div>
            </div>
        </div>
    </div>
    <div class="events_items d-flex flex-lg-row flex-column align-items-lg-start align-items-center justify-content-lg-between justify-content-center">

        <!-- Event -->
        <div class="events_item">
            <div class="events_item_image"><img src="~/Content/images/event_1.jpg" alt=""></div>
            <div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                    <div class="event_day">18</div>
                    <div class="event_month">mar</div>
                </div>
                <div class="event_content">
                    <div class="event_title"><a href="#">exploring the Christian faith</a></div>
                    <ul class="event_row">
                        <li>
                            <div class="event_icon"><img src="~/Content/images/calendar.png" alt=""></div>
                            <span>08:00 AM - 11:00 AM</span>
                        </li>
                        <li>
                            <div class="event_icon"><img src="~/Content/images/location.png" alt=""></div>
                            <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Event -->
        <div class="events_item">
            <div class="events_item_image"><img src="~/Content/images/event_2.jpg" alt=""></div>
            <div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                    <div class="event_day">18</div>
                    <div class="event_month">mar</div>
                </div>
                <div class="event_content">
                    <div class="event_title"><a href="#">To Love and to Cherish, The Wedding</a></div>
                    <ul class="event_row">
                        <li>
                            <div class="event_icon"><img src="~/Content/images/calendar.png" alt=""></div>
                            <span>08:00 AM - 11:00 AM</span>
                        </li>
                        <li>
                            <div class="event_icon"><img src="~/Content/images/location.png" alt=""></div>
                            <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Event -->
        <div class="events_item">
            <div class="events_item_image"><img src="~/Content/images/event_3.jpg" alt=""></div>
            <div class="events_item_content d-flex flex-row align-items-start justfy-content-start">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                    <div class="event_day">18</div>
                    <div class="event_month">mar</div>
                </div>
                <div class="event_content">
                    <div class="event_title"><a href="#">The Christian Community in America</a></div>
                    <ul class="event_row">
                        <li>
                            <div class="event_icon"><img src="~/Content/images/calendar.png" alt=""></div>
                            <span>08:00 AM - 11:00 AM</span>
                        </li>
                        <li>
                            <div class="event_icon"><img src="~/Content/images/location.png" alt=""></div>
                            <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



